{% extends 'base.html' %}
{% load uzbektube_tags %}

{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
<div class="d-flex justify-content-center">
    <div class="col-4">

        <div class="card p-3">
            <h4 class="text-center">{{ title }}</h4>
            <form action="" method="post" enctype="multipart/form-data" class="change_profile">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-success w-100" type="submit">Change</button>
            </form>
            <hr>

            <a href="{% url 'profile' request.user.pk %}" class="btn btn-primary w-100">Back to profile</a>

        </div>

    </div>
</div>
{% endblock main %}